attrs
beautifulsoup4
chardet
crypto
dateutils
django
django-cors-headers
django-cron
django-extra-fields
django-filter
django-fullclean
django-grappelli
django-ipware
django-paypal
django-uuslug
djangorestframework
djangorestframework-yaml
djangorestframework-filters
djangorestframework-queryfields
eventlet
greenlet
gunicorn
httpie
jpush
mutagen
markdown
mysqlclient
paypalrestsdk
pillow
pyaml
pyasn1
pyasn1-modules
pycrypto
pygments
pyopenssl
python-dateutil
requests
scrapy
scrapy-djangoitem
sphinx
wechatpy
xlscript
xlrd